name: Deploy Ephemeral Stack

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Create kind cluster
        uses: helm/kind-action@v1.4.0
        with:
          cluster_name: kind

      - name: Build Docker image
        run: docker build -t my-app-image:latest .

      - name: Load image into Kind
        run: kind load docker-image my-app-image:latest --name kind

      - name: Deploy Helm chart
        run: helm install my-release ./my-app

      - name: Wait and check
        run: |
          sleep 40
          kubectl get pods

      - name: Run Integration Test
        run: |
          kubectl delete job integration-test --ignore-not-found=true
          
         
          kubectl apply -f my-app/templates/test-job.yaml
          
          kubectl wait --for=condition=complete job/integration-test --timeout=120s

      - name: Debug on failure
        if: failure() 
        run: |
          kubectl get pods
          kubectl logs job/integration-test || echo "No job logs found"
          kubectl logs deployment/my-python-app || echo "No app logs found"